<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transcendensoft.hedbanz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HedbanzApplication"
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Meta data -->
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="044b7dfc84eb1a148f1ae6b840e3911a8ee29379" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Activities -->
        <activity
            android:name=".presentation.StartActivity"
            android:theme="@style/ThemeMainTranslucentToolbar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.mainscreen.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeMain"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.usercrud.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeRegister"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.usercrud.CredentialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeRegister"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.game.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeMain"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".presentation.friends.FriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeMain"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".presentation.intro.IntroActivity" />

        <!-- Service -->


        <!-- Firebase Notifications -->
        <service android:name=".data.network.service.firebase.HedbanzFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".data.network.service.firebase.HedbanzFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".data.repository.GameDataRepositoryImpl" />
        <!-- Receivers -->
        <!-- Providers -->

    </application>

</manifest>